#than_page{
    background-image: url(../QLNV/53fe8045b3d43c499a7eca4345e0d9e2.jpg);
    background-repeat: repeat;
    background-size: 1800px 900px;

}
h2{
    text-align: center;
    padding: 30px;
}
#infostaff{
    color: rgb(235, 231, 226);
    margin-left: 400px;
   
}
